/* Page load animation */
// start
.barba-once {
    opacity: 0;
}
// transition
.barba-once-active {
    transition: opacity 10s linear 3s;
}
// ending state
.barba-once-to {
    opacity: 1;
}
/* Slide to home */
